h1 {
  color:black; 
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

h2 {
  color:black; 
  font-family: 'Cousine', monospace;
  text-align: center;
}

p {
  color:black;
  font-family: 'Inconsolata', monospace;
  text-align: center;
} 

body {
  background-color: lightskyblue;
}

.Ard_Flamingo {
  color:red;
}
