h1 {
  color:white; 
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

h2 {
  color:white; 
  font-family: 'Cousine', monospace;
  text-align: center;
}

h3 {
  color:white; 
  font-family: 'Cousine', monospace;
  text-align: center;
}

p {
  color:white;
  font-family: 'Inconsolata', monospace;
  text-align: center;
} 

.link {
  color: orange;
}

body {
  background-color:#121212;
  overflow-x: hidden;
}

.Ard_Flamingo {
  color:red;
}


#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -20%); 
  user-select: none;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

